# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.cache

*~

# cmake
CMakeCache.txt
CMakeFiles/
DartConfiguration.tcl
*.cmake
abc
Makefile

compile_commands.json
tools/minicargo/minicargo
tools/rustc/rustc
tablegen_compile_commands.yml
tests/lexer/LexerTests
Testing/
tests/parser/ParserTests
tests/patterns/PatternTests
tests/types/TypesTests
tests/expression/ExpressionTests

code/include/Mir/MirDialect.cpp.inc
code/include/Mir/MirDialect.h.inc
code/include/Mir/MirOps.cpp.inc
code/include/Mir/MirOps.h.inc
#code/include/Mir/MirOpsInterfaces.cpp.inc
#code/include/Mir/MirOpsInterfaces.h.inc
code/include/Mir/MirInterfaces.cpp.inc
code/include/Mir/MirInterfaces.h.inc

code/include/Optimizer/Passes.h.inc

#code/include/Mir/MirOps.cpp.inc
#code/include/Mir/MirOps.h.inc
#code/include/Mir/MirOpsDialect.cpp.inc
#code/include/Mir/MirOpsDialect.h.inc
#code/include/Mir/MirOpsTypes.cpp.inc
#code/include/Mir/MirOpsTypes.h.inc
tools/minicargo/Opts.inc
tools/rustc/Opts.inc

.ninja_deps
.ninja_log
build.ninja


code/include/Mir/MirAttr.cpp.inc
code/include/Mir/MirAttr.h.inc
code/include/Mir/MirEnumAttr.cpp.inc
code/include/Mir/MirEnumAttr.h.inc
code/include/Mir/MirOpsTypes.cpp.inc
code/include/Mir/MirOpsTypes.h.inc

code/include/Mir/MirTypes.cpp.inc
code/include/Mir/MirTypes.h.inc
code/include/CodeGen/Passes.h.inc

code/Optimizer/Combine.cpp.inc

tests/ADT/ADTTests
examples/fun2/Cargo.lock
examples/fun2/target/


code/include/Hir/HirAttr.cpp.inc
code/include/Hir/HirAttr.h.inc
code/include/Hir/HirDialect.cpp.inc
code/include/Hir/HirDialect.h.inc
code/include/Hir/HirEnumAttr.cpp.inc
code/include/Hir/HirEnumAttr.h.inc
code/include/Hir/HirOps.cpp.inc
code/include/Hir/HirOps.h.inc
code/include/Hir/HirTypes.cpp.inc
code/include/Hir/HirTypes.h.inc


docs/comment.cut
docs/main.aux
docs/main.bbl
docs/main.blg
docs/main.fdb_latexmk
docs/main.fls
docs/main.log
docs/main.pdf
docs/pdflatex18740.fls

code/include/Hir/HirOpsInterfaces.cpp.inc
code/include/Hir/HirOpsInterfaces.h.inc

tools/rustc-opt/rustc-opt


code/include/Lir/LirAttr.cpp.inc
code/include/Lir/LirAttr.h.inc
code/include/Lir/LirDialect.cpp.inc
code/include/Lir/LirDialect.h.inc
code/include/Lir/LirEnumAttr.cpp.inc
code/include/Lir/LirEnumAttr.h.inc
code/include/Lir/LirOps.cpp.inc
code/include/Lir/LirOps.h.inc
code/include/Lir/LirTypes.cpp.inc
code/include/Lir/LirTypes.h.inc

html

tests/items/ItemsTests
