# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.cache

*~

# cmake
CMakeCache.txt
CMakeFiles/
DartConfiguration.tcl
*.cmake
abc
Makefile

compile_commands.json
tools/minicargo/minicargo
tools/rustc/rustc
tablegen_compile_commands.yml

code/include/Mir/MirDialect.cpp.inc
code/include/Mir/MirDialect.h.inc
code/include/Mir/MirOps.cpp.inc
code/include/Mir/MirOps.h.inc
code/include/Mir/MirOpsInterfaces.cpp.inc
code/include/Mir/MirOpsInterfaces.h.inc

#code/include/Mir/MirOps.cpp.inc
#code/include/Mir/MirOps.h.inc
#code/include/Mir/MirOpsDialect.cpp.inc
#code/include/Mir/MirOpsDialect.h.inc
#code/include/Mir/MirOpsTypes.cpp.inc
#code/include/Mir/MirOpsTypes.h.inc
tools/minicargo/Opts.inc
tools/rustc/Opts.inc

.ninja_deps
.ninja_log
build.ninja
